name: CI - Code Quality and Testing

on:
  push:
    branches:
      - main

jobs:
  quality-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .["dev"]

    - name: Lint with Ruff
      run: make lint

    - name: Format Check with Black + Isort + Ruff
      run: make format

    - name: Type Check with Mypy
      run: make typecheck

#    - name: Run Tests
#      run: pytest
